{% extends layout %}

{% block slider %}
    {% include '_global/bannerCabecera.html.twig' with {'imagen': values.contenido.getPathNameImagenN(1)} %}
{% endblock %}

{% block contenido %}
<div id="contenido">
    {% include '_global/ruta.html.twig' %}
    <div id="contenidoModuloBlanco" class="clearfix">
        <div class="contenido_interior row">    

            <div class="span9 columna_izquierda_por_que">
		<h1 class="contenido_interior"><strong>{{values.contenido.Titulo}}</strong></h1>						
                <div class="clearfix clearboth contenido_textos contenido_porque">
                    {% autoescape false%}{{values.contenido.Introduccion}}{% endautoescape %}
                </div>
            </div> 
            {% include '_global/cajaLocalizacion.html.twig' %}                
        </div> 
    </div>
    {% include '_global/franjas.html.twig' %}              
</div>	
{% endblock %}