{% extends layout %}

{% block slider %}
    {% include 'Index/slider.html.twig' %}
{% endblock %}

{% block contenido %}
<div id="contenido"> 
    {% include '_global/franjas.html.twig' %} 
</div>
{% endblock %}

