{# Secciones #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Secciones</p>
	<p>Edítalo en themes/themeDefault/modules/Secciones/index.html.twig</p>
{% endblock %}