
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Condiciones Legales</title>
<style type="text/css">
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: normal;
	color: #000000;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#666666;
	padding-left:10px;
	font-weight: normal;
}
h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#003399;
	font-weight: bold;
	margin-left: 10px;
}
#contendor{width:760px; margin:0 auto; overflow:hidden; height:auto;} 

/* 1.2 Cabecera */
#cabecera{
	width:760px;
	overflow:hidden;
	clear:both;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0; 
}

/*menu*/
    
#glowingtabs{
	width:545px; float:left;
	font-size:90%;
	line-height:normal;
	overflow: hidden; /*Add border strip to bottom of menu*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
	background-color: #FFFFFF;
}

#glowingtabs ul{
	list-style-type: none;
	margin-left: 0px; /*Left offset of entire tab menu relative to page*/
	padding:0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

#glowingtabs li{
display:inline;
margin:0;
padding:0;
}

#glowingtabs a{
float:left;
background:url(figuras/glowtab-left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

#glowingtabs a span{
	float:left;
	display:block;
	padding: 4px 12px 2px 3px;
	font-weight:bold;
	color:#3B3B3B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-image: url(figuras/glowtab.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#glowingtabs a span {float:none; width:100px; line-height:20px;}
/* End IE5-Mac hack */

#glowingtabs a:hover span {
color: black;
}

#glowingtabs #current a{ /*Selected Tab style*/
background-position:0 -82px; /*Shift background image up to start of 2nd tab image*/
}

#glowingtabs #current a span{ /*Selected Tab style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
color: black;
}

#glowingtabs a:hover{ /*onMouseover style*/
background-position:0% -82px; /*Shift background image up to start of 2nd tab image*/
}

#glowingtabs a:hover span{ /*onMouseover style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
}
#herramientas{
	float:right;
	width:200px;
		margin: 0; overflow: hidden; list-style-type:none;
}
#herramientas li{float: right;}
#herramientas li.ultimo{display:none;/*quitar display cuando tengamos verison en ingles*/padding:0;border:0 none; text-decoration:none; }
#herramientas li.ultimo a{color:#B01D2E;}
#herramientas li a{display:block;padding:0 5px;color:#666666;text-decoration:none; background-color:#FFFFFF;}
#herramientas li a:hover{text-decoration:underline; }
#precuerpo{ width:540px; height:30px;}
#REF{
	width:200px;
	float:left;
	color:#0099FF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding-left: 10px; padding-top:5px; padding-bottom:5px;
}
#banderas{ height:20px;
	width:250px;
	margin-top:5px;
	margin-bottom:5px;
	overflow: hidden;
	list-style-type:none;
	visibility: visible;
	float:right;
	margin-right: 0;
	margin-left: 0;
	padding-bottom:5px;
}
#banderas li{float: right;}
#banderas li.ultimo{display:none;/*quitar display cuando tengamos verison en ingles*/padding:0;border:0 none; text-decoration:none; }
#banderas li.ultimo a{color:#B01D2E;}
#banderas li a{display:block;padding:0 5px;color:#666666;text-decoration:none; background-color:#FFFFFF;}
#banderas li a:hover{text-decoration:underline; }
#titulos{ width:540px;}
.precio{font-family:Arial, Helvetica, sans-serif; 
	font-size:24px;
	color:#003399;	
	font-weight: bold;}
.detalle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#666666;
	padding-left:10px;
	font-weight: normal;
}
.TIT_CONT{	font-family:Arial, Helvetica, sans-serif;
	font-size:20px; padding-left:10px;
	color:#003399;	
	font-weight: bold;}
#cuerpo{
	width:760px; height:auto;}

#cuerpo2{
	width:760px; height:auto;text-align:justify; padding-left:5px; padding-right:5px;}
#texto{
	width:543px;
	float:left;
	height:auto; background-repeat:repeat-x; border-bottom:#CCCCCC solid 1px; border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-bottom:10px;
}
.interior_tit{
	width:525px;
	height:19px; background-image:url(figuras/tit_recuadro.gif);	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	padding-top:6px; padding-left:10px; padding-bottom:5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
}
.interior_txt{
	width:518px;
	height:auto;
	border:#CCCCCC solid 1px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	text-align:justify;
}
.text{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;}
.gorda{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; font-weight:bold;}
.email{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0000FF;}
.leyenda{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; font-weight:bold;}
.direccion{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;}
#form{
	float:right;
	width:200px;
	height:auto;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-image: url(figuras/fondo_contacto-inf.gif);
	background-repeat: no-repeat; padding-bottom:10px;
}
.figura_form{ width:202px;background-image:url(figuras/fondo_contacto.gif); height:5px;
	background-repeat:no-repeat; float:right;}
.Estilo21 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
 input[type="checkbox"]{
        background-color: #EFEFEF;
        border: 1px solid #666666;
        color: #0000FF; font-size:25px;}
</style>

</head>
<body>
<div class="interior_tit">INMOBILIARIAS DIEZ  Derechos reservados </div>
<div class="interior_txt" align="center">De conformidad con lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que lo datos personales incluidos en el formulario formarán parte de la base de datos de la sociedad <b>INMOBILIARIAS DIEZ </b> con domicilio social en <b>Plza Barranco,10 (Maracena) Av.de Dilar 14 (Otura)</b> <b>Maracena</b>, que es la sociedad responsable del mismo. La finalidad de la recogida de sus datos es la gestión de las consultas, peticiones o comentarios que nos envíe a través de la cumplimentación de este formulario on-line, así como el envío de información comercial y promocional de los productos y servicios de <b>INMOBILIARIAS DIEZ </b>. El único destinatario de sus datos será la sociedad <b>INMOBILIARIAS DIEZ </b>. La cumplimentación de los datos señalados con un asterisco es obligatoria, de modo que en el caso de que no cumplimente dichos datos no podremos gestionar su consulta o petición, ni enviarle la información indicada. Usted puede ejercitar sus derechos de acceso rectificación, cancelación, y oposición al tratamiento de sus datos ante el responsable de la base de datos mediante el envío de una carta dirigida a la dirección <b>Plza Barranco,10 (Maracena) Av.de Dilar 14 (Otura)</b> <b>Maracena</b>, o mediante el envío de un correo electrónico a la dirección electrónica <b>info@inmobiliarias10.com</b>. <br /><br />

Mediante la cumplimentación y el envío de este formulario, Ud. consiente el tratamiento de sus datos personales por parte de <b>INMOBILIARIAS DIEZ </b> para las finalidades indicadas en el párrafo precedente.<br /><br />

El envío de la información personal incluida en el fichero no se efectúa de modo cifrado o encriptado. Por lo tanto, dicho envío no es seguro, y Ud. asume cualquier responsabilidad derivada del envío de dicha información a través de redes abiertas como Internet.<br /><br />

Orgánica de Protección de Datos de Carácter Personal el responsable del fichero ha adoptado las medidas de índole técnica y organizativas necesarias para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento, o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural.<br /><br />

</div>

</body>
</html>