{% extends '_global/layoutLaptopPopup.html.twig' %}

{% block contenido %}
    <div id="terminos_legales">
        <h1>Política de Privacidad</h1>
        {% autoescape false%}{{values.contenido.Introduccion}}{% endautoescape %}
    </div>
{% endblock %}