{% extends layout %}

{% block slider %}
    {% include '_global/bannerCabecera.html.twig' with {'imagen': values.contenido.getPathNameImagenN(1)} %}
{% endblock %}

{% block contenido %}
<div id="contenido">
    {% include '_global/ruta.html.twig' %}
    <div id="contenidoModuloBlanco" class="clearfix">
        <div class="contenido_interior row">
            <div class="span12">
            <iframe  width="950" height="1500" src="http://www.forocasas.com/recursos/nlistado007.php?modlistado=1&cbo_operacion=V&pagina=1&cod_captacion=22506&cod_cliente=22506&tipo_buscador=1&tipo_listado=1&clistado=6&idioma=1&externo=3&nro_regpag=40&tgw=no&gwt=si&minfo=1&tgf=Det_info&moneda=eu&tit_bg_color=FFFFFF&fila1=ffffff&fila2=ffffff&superior=0242B0&letra=FFFFFF&letra2=000000&filas=7&externo=3&paginamax=5&paginaini=&b1=&b2=&b3=&b4=&b5=&b6=&confoto=2&tgw=_self#top"></iframe>
            </div>
            {# BUSCADOR
            <div class="span5 columna_izquierda_quienes_somos">
                <iframe width="390" height="455" src="http://www.forocasas.com/recursos/buscador14.php?cbo_provincia=0&cbo_poblacion=0&clistado=6&cbo_zona=&cbo_tipo=&cbo_operacion=&nro_pagina=1&sit=&sup=&dor=0-99&ban=0-99&ref=&ase=&asc=0&pis=0&gar=0&tra=0&pre=&yaentro=&modlistado=1&cod_captacion=22506&cod_cliente=22506&tipo_buscador=1&tipo_listado=1&idioma=1&nro_regpag=40&clistado=2&tgw=no&moneda=eu&tit_bg_color=CAE0E5&centro=&superior=CAE0E5&ficha=CAE0E5&fila1=F2F2F0&fila2=FFF0BF&letra=000000&tletra=&modlistado=1&letra2=000000&tletra2=&filas=24&pagina=1&paginamax=5&paginaini=1&b1=&b2=&b3=&b4=&b5=&b6=&b7=&b8=&col=6&lis=&medi=1&simbmedi=Hectareas&cambiomedi=10000&externo=3&fdesde=&fhasta=&pagsuperior=superior.html&superior_alto=195&paginferior=inferior.html&f25=S&etq5_fc=517A8E&etq5_ft=Arial"></iframe>
            </div>
            <div class="span7 columna_derecha columna_derecha_quienes_somos">
                <h1 class="contenido_interior">{{values.contenido.Titulo}}</h1>

                <div class="clearfix clearboth contenido_textos">
                    <div class="textoComillas textoComillasPeq">
                            <p>{{values.contenido.Subtitulo}}</p>
                    </div>
                    
                </div>
            </div>
             #}
        </div> 
    </div>
    {% include '_global/franjas.html.twig' %}              
</div>	
{% endblock %}