{# Sitemap #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Sitemap</p>
	<p>Edítalo en themes/themeDefault/modules/Sitemap/index.html.twig</p>
{% endblock %}