<div class="textoComillas">{% autoescape false%}{{values.contenido.Introduccion}}{% endautoescape %}</div>
<div id="form_contacto">
    <form action="" method="post" accept-charset="utf-8">			
        <input type="hidden" class="input_referer" name="referer" value="" />
        <input type="hidden" class="input_referer" name="controller" value="Contacto" />
        <input type="hidden" class="input_referer" name="action" value="Index" />
        <div class="row">
            <div class="span5">
                <div class="caja_input caja_input_izq">
                    <label for="nombre" class="control-label required">Nombre</label>
                    <input type="text" name="nombre" value="" id="nombre" placeholder="Introduce tu nombre" class="input-xlarge " required=""  />
                </div>
                <div class="caja_input">
                    <label for="apellidos" class="control-label required">Apellidos</label>
                    <input type="text" name="apellidos" value="" id="apellidos" placeholder="Introduce tus apellidos" class="input-xlarge " required=""  />
                </div>
                <div class="caja_input caja_input_izq">
                    <label for="telefono" class="control-label required">Teléfono</label>
                    <input type="text" name="telefono" value="" id="telefono" placeholder="Introduce tus teléfono" class="input-xlarge " required=""  />
                </div>

                <div class="caja_input">
                    <label for="email" class="control-label required">Email</label>	
                    <input type="email" name="email" value="" id="email" placeholder="Introduce tu email" class="input-xlarge " required=""  />						
                </div>

                <div class="caja_input caja_input_izq">
                    <label for="domicilio" class="control-label required">Domicilio</label>
                    <input type="text" name="domicilio" value="" id="domicilio" placeholder="Introduce tu domicilio" class="input-xlarge " required=""  />
                </div>

                <div class="caja_input caja_input_izq">
                    <label for="ciudad" class="control-label required">Ciudad</label>
                    <input type="text" name="ciudad" value="" id="ciudad" placeholder="Introduce tu ciudad" class="input-xlarge " required=""  />
                </div>
                <div class="caja_input caja_input_izq">
                    <label for="provincia" class="control-label required">Provincia</label>
                    <input type="text" name="provincia" value="" id="provincia" placeholder="Introduce tu provincia" class="input-xlarge " required=""  />
                </div>

            </div>
            <div class="span4">
                <div class="caja_input caja_input_izq">
                    <label for="solucion" class="control-label required">¿En qué solución estás interesado?</label>
                    <select name="solucion" id="solucion" name="solucion" class="input-xlarge"  required="">
                        <option value="" selected="selected">Selecciona una opción</option>
                        <option value="Hipoteca Capital Privado">Hipoteca Capital Privado</option>
                        <option value="Minicrédito hasta 500€">Minicrédito hasta 500€</option>
                        <option value="Financiar mis ventas">Financiar mis ventas</option>
                        <option value="Hipoteca Inversa">Hipoteca Inversa</option>
                        <option value="Cancelación de Deudas y Embargos">Cancelación de Deudas y Embargos</option>
                        <option value="Renting">Renting</option>
                    </select>					</div>

                <div class="caja_input caja_input_izq">
                    <label for="importe" class="control-label required">Importe a solicitar</label>
                    <input type="text" name="importe" value="" id="importe" placeholder="Introduce el importe a solicitar" class="input-xlarge " required=""  />
                </div>

                <label for="observaciones" class="control-label required">Observaciones</label>
                <textarea name="observaciones" cols="40" rows="10" id="observaciones" class="input-xlarge" placeholder="Introduce tus observaciones" required="" ></textarea>

                <input type="checkbox" name="condiciones" value="si" id="condiciones" class="" title="Condiciones" required=""  />
                <a class="terminos_contactar" href="{{app.path}}/politica-de-privacidad?iframe=true&width=700&height=400" rel="prettyPhoto" title="Acepto los términos y condiciones">Acepto los términos y condiciones</a>

                <input type="submit" name="btnSubmit" value="Solicitar información ahora" class="btnSubmit btn btn-amarillo"  />
            </div>
        </div>

    </form>	
</div>