{# Aviso de cookies #}
{%if values.session_id == ""%}
<div class="alert fade in" id="alerta-cookies">
    <div class="clearfix clearboth" id="alerta-cookiesInner">
        <h2>Uso de cookies</h2>
        <p>Este sitio utiliza cookies de terceros para realizar labores analíticas. Al continuar navegando aceptas nuestra            <a title="Política de Cookies" href="{{app.path}}/politica-de-cookies?iframe=true&amp;width=800&amp;height=400" rel="prettyPhoto" class="aTerminos">Política de Cookies</a>.
            <a id="closeCookies" href="javascript:void(0);">x</a>
        </p>
    </div>
</div>
{% endif %}
