{# MUESTRA EL BANNER DE CADA SECCION (OPCION DE MENU SUPERIOR) #}
<div id="ContenedorBanners" class="interior faqs">
    <div id="myCarouselBanners" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item" style="height: 288px;background: url('{{app.url}}/{{theme}}/{{imagen}}') no-repeat scroll center center transparent">
            </div>
        </div>
        <!-- Carousel nav -->
    </div>
</div>
