<header>
    <div  class="contenido_header row">
        <div class="span3">
            <a class="logoweb" href="{{app.path}}/" title="Hipoteca Capital Privado">
                <img  alt="Hipoteca Capital Privado" title="Hipoteca Capital Privado" src="{{app.path}}/{{theme}}/images/logo.png">
            </a>
        </div>
        <div  class="span9">
            <div class="clearfix tel_cabecera" >
                <span class="horarioTelCabecera">Teléfono </span>
                <span clasS="TfTelCabecera" ><strong>{{values.datosContacto.telefono1}}</strong></span>
                <span class="horarioTelCabecera">
                    Horario: Lunes a Viernes<br/>
                    De 10:00-14:00, 17:00-20:30<br/>
                    Sábados de 10:00 - 14:00<br/>
                </span>
            </div>
            <ul class="row navSuperior">
                <!--<li><a alt="" title="" href="/comercializacion-servicios-financieros-prestamos-creditos">Distribuye <span>nuestras soluciones</span></a> <span class="separator">|</span> </li>-->

                <li><span>Síguenos</span></li>
                <li class="red_cabecera red_facebook" style="display:none;"><a alt="Facebook Credit Granada" title="Facebook Credit Granada" href="https://www.facebook.com/pages/F%C3%B3rmula-Capital/308208962534544" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_twitter" style=""><a alt="Twitter Credit Granada" title="Twitter Credit Granada" href="https://twitter.com/formulacgranada" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_youtube" style="display:none;"><a alt="Youtube Credit Granada" title="Youtube Credit Granada" href="" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_gplus" style=""><a alt="Google Plus Credit Granada" title="Google Plus Credit Granada" href="https://plus.google.com/107766417362948532635/posts?hl=es" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_rss"><a rel="nueva_ventana" alt="facebook Credit Granada" title="rss Credit Granada" href="/rss">&nbsp;</a></li>
                <li><iframe src="//www.facebook.com/plugins/like.php?href=http://www.cgcreditgranada.es&amp;send=false&amp;layout=button_count&amp;width=74&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;locale=es_ES" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:74px !important; height:21px;" allowTransparency="true" title="Facebook"></iframe></li>
            </ul>

        </div>
    </div>

    {% include '_global/menuCabecera.html.twig' %}
</header>