{# Franjas anchas #}
<div id="contenidoModuloNaranja">
    <div class="contenido_interior clearfix">
        <p class="h1Home">Dinero rápido de capital privado</p>
    </div>
</div>	

<div id="contenidoModuloAzul">
    <div class="contenido_interior clearfix">
        <p class="h2Home">sin preguntas y en menos de 24 horas</p>
    </div>
</div>  
