<div class="breadcrumb">
    <ul class="breadcrumb contenido_interior">
        <li><span class="estasen">Estás en</span></li>
        <li class="divider"><span class="miga_divider">&nbsp;</span></li>
        <li><a class="inicio" href="/" title="Home"><span class="icon-home">&nbsp;</span></a></li>
        {% for item in values.ruta %}
            <li class="divider"><span class="miga_divider">&nbsp;</span></li>
            {% if loop.last %}
                <li class="active"><span>{% autoescape false %}{{item.nombre}}{% endautoescape %}</span></li>
            {% else %}
                <li class="active"><span><a href="{{item.url.url}}">{{item.nombre}}</a></span></li>                
            {% endif %}
        {% endfor %}
    </ul>
</div>